<main class="container-fluid welcome-container">
  <header class="header-section">
    <h1 class="header-section__title">Learn Statistics Through Money Management</h1>
  </header>
  <article>
    <section class="row">
      <div class="col-12 d-flex">
        <div class="col-8 image-container">
          <img
            src="../../assets/svgs/money-ball.svg"
            alt="money ball image"
            class="image-container__icon
            rounded mx-auto d-block"
            >

        </div>
        <div class="col-4">
          <h3>Get Started For Free</h3>
          <button [routerLink]="['register']" class="btn btn-primary">Register</button>
          <button [routerLink]="['login']" class="btn btn-success">Login</button>
          <router-outlet></router-outlet>
          <!-- <tabset>
            <tab heading="REGISTER" (selectTab)="goToLink('/register')" customClass="tabs">

            </tab>
            <tab heading="LOGIN" customClass="tabs">
            </tab>
          </tabset> -->
        </div>
      </div>
    </section>
  </article>
</main>
