<main class="container-fluid welcome-container">
  <header class="header-section">
    <h1 class="header-section__title">Learn Statistics Through Money Management</h1>
  </header>
  <article>
    <section class="row">
      <div class="col-12 d-flex">
        <div class="col-8 image-container">
          <img
            src="../../assets/svgs/money-ball.svg"
            alt="money ball image"
            class="image-container__icon
            rounded mx-auto d-block"
            >

        </div>
        <div class="col-4">
          <h3>Get Started For Free</h3>
          <tabset>
            <tab heading="REGISTER" (selectTab)="goToLink('/register')" customClass="tabs">
              <ng-template tabHeading>

              </ng-template>
              <!-- <app-register></app-register> -->
            </tab>
            <tab (selectTab)="goToLink('/login')" heading="LOGIN" customClass="tabs">
              <ng-template>

              </ng-template>
              <!-- <app-login></app-login> -->
            </tab>
          </tabset>
        </div>
      </div>
    </section>
  </article>
</main>
