<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" formControlName="firstName" class="form-control" />
      <span class="invalid-feedback" *ngIf="registerForm?.get('firstName').touched && registerForm.get('firstName').hasError('required')">
        Please provide a first name!
      </span>
  </div>
  <div class="form-group">
      <label for="lastName">Last Name</label>
      <!-- [ngClass]="{'isValid': !registerForm.get('lastName').valid && registerForm?.get('lastName').touched}" -->
      <input
        type="text" formControlName="lastName" class="form-control"  />
      <span class="invalid-feedback" *ngIf="
      registerForm?.get('lastName').touched && registerForm.get('lastName').hasError('required')">Please provided a last name</span>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" formControlName="email" class="form-control">
    <span class="invalid-feedback" class="invalid-feedback" *ngIf="registerForm?.get('email').touched && registerForm.get('email').hasError('required')">
      Please provide a valid email!
    </span>
  </div>
  <div class="form-group">
      <label for="username">Username</label>
      <input
        formControlName="userName"
        type="text"
        class="form-control" />
      <span class="invalid-feedback" *ngIf="registerForm?.get('userName').touched && registerForm.get('userName').hasError('required')">
        Please provide a user name!
      </span>
  </div>
  <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" type="password" class="form-control" />
      <span class="invalid-feedback" *ngIf="registerForm?.get('password').touched && registerForm.get('password').hasError('required')">
        Please provide a password!
      </span>
  </div>
  <div class="form-group">
      <button [disabled]="registerForm.invalid" class="btn btn-primary">
          Register
      </button>
      <!-- get to cancel functionality later -->
      <a routerLink="/login" class="btn btn-link">Cancel</a>
  </div>
</form>
